USE [master]
GO
/****** Object:  Database [CRUD5]    Script Date: 7/2/2020 12:10:33 AM ******/
CREATE DATABASE [CRUD5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUD5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CRUD5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUD5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CRUD5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUD5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUD5]
GO
/****** Object:  Table [dbo].[Orari]    Script Date: 7/2/2020 12:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orari](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fillimi] [time](0) NULL,
	[Mbarimi] [time](0) NULL,
 CONSTRAINT [PK_Orari] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perdoruesi]    Script Date: 7/2/2020 12:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perdoruesi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](550) NULL,
	[RoliID] [int] NULL,
 CONSTRAINT [PK_Perdoruesi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Porosia]    Script Date: 7/2/2020 12:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Porosia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Sasia] [int] NOT NULL,
	[Cmimi] [decimal](18, 0) NOT NULL,
	[UshqimiID] [int] NULL,
	[TavolinaID] [int] NULL,
 CONSTRAINT [PK_Porosia] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roli]    Script Date: 7/2/2020 12:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roli](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Emertimi] [varchar](50) NULL,
 CONSTRAINT [PK_Roli] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tavolina]    Script Date: 7/2/2020 12:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tavolina](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nr_Personave] [int] NULL,
	[OrariID] [int] NULL,
	[VendiID] [int] NULL,
 CONSTRAINT [PK_Tavolina] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ushqimi]    Script Date: 7/2/2020 12:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ushqimi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Emertimi] [varchar](150) NOT NULL,
	[Cmimiper1] [decimal](18, 0) NOT NULL,
	[Sasia] [int] NOT NULL,
 CONSTRAINT [PK_Ushqimi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendi]    Script Date: 7/2/2020 12:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Emertimi] [varchar](150) NULL,
 CONSTRAINT [PK_Vendi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Perdoruesi]  WITH CHECK ADD  CONSTRAINT [FK_Perdoruesi_Roli] FOREIGN KEY([RoliID])
REFERENCES [dbo].[Roli] ([ID])
GO
ALTER TABLE [dbo].[Perdoruesi] CHECK CONSTRAINT [FK_Perdoruesi_Roli]
GO
ALTER TABLE [dbo].[Porosia]  WITH CHECK ADD  CONSTRAINT [FK_Tavolina_Porosia] FOREIGN KEY([TavolinaID])
REFERENCES [dbo].[Tavolina] ([ID])
GO
ALTER TABLE [dbo].[Porosia] CHECK CONSTRAINT [FK_Tavolina_Porosia]
GO
ALTER TABLE [dbo].[Porosia]  WITH CHECK ADD  CONSTRAINT [FK_Ushqimi_Porosia] FOREIGN KEY([UshqimiID])
REFERENCES [dbo].[Ushqimi] ([ID])
GO
ALTER TABLE [dbo].[Porosia] CHECK CONSTRAINT [FK_Ushqimi_Porosia]
GO
ALTER TABLE [dbo].[Tavolina]  WITH CHECK ADD  CONSTRAINT [FK_Orari_Tavolina] FOREIGN KEY([OrariID])
REFERENCES [dbo].[Orari] ([ID])
GO
ALTER TABLE [dbo].[Tavolina] CHECK CONSTRAINT [FK_Orari_Tavolina]
GO
ALTER TABLE [dbo].[Tavolina]  WITH CHECK ADD  CONSTRAINT [FK_Vendi_Tavolina] FOREIGN KEY([VendiID])
REFERENCES [dbo].[Vendi] ([ID])
GO
ALTER TABLE [dbo].[Tavolina] CHECK CONSTRAINT [FK_Vendi_Tavolina]
GO
USE [master]
GO
